*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#box{
    width: 10rem;
    height: 10rem;

    border: 2px solid black;
    
    background-color: yellow;
}

#box.circle{
    border-radius: 50%;
    background-color: red;
}