body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#timeDiv{
    border: 2px solid black;
    padding: 20px;
    font-size: 80px;
    background-color: red;
}