*{
    margin: 0;
    padding: 0;
}
.container{
    border: 2px solid black;
    width: auto;
    height: 50rem;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 30px;

    position: relative;
}

.image{
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

#image1{
    background-color: red;
}

#image2{
    background-color: blue;
    position: absolute;
    bottom: 50px;
}

#image3{
    background-color: green;
    position: fixed;
    left: 20px;
}

#image4{
    background-color: orange;
    position: sticky;
    top: 10px;
}