*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: whitesmoke;
}
.navbar,footer{
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px;
}

.main,.achiev {
    background-color: white;
    margin: 20px;
    padding: 20px;
}

 h3{
    margin-top: 10px;
    margin-bottom: 10px;
}

ul{
    margin-left: 30px;
}